<h2>Are you sure?</h2>

<p>
	
	
	Changing your password will log you out and send reset instructions for you to complete your request
	
</p>



<%= simple_form_for @user, :url => { :action => "change_password_update" },  :html => { :method => :post} do |f| %>

    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>

