<p>
  <b>First Name:</b>
  <%= best_in_place @user, :first_name %>
</p>
<p>
  <b>Last Name:</b>
  <%= best_in_place @user, :last_name %>
</p>
<p>
  <b>Email:</b>
  <%= best_in_place @user, :email %>
</p>
<p>
	
<%= link_to "Edit Password", edit_user_password_path %>
</p>

