<h1>This is just a test, don't freak out yet'</h1>
<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Password</th>
    <th>Email</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

