<h1>Admin Tools</h1>
<br>
<br>
<li><%= link_to 'Add User',new_admin_user_path(@user)%></li>
<li><%= link_to 'View Users', admin_users_path(@user)%></li>
<li><%= link_to 'Create Position', new_admin_position_path(@position)%></li>
<li><%= link_to 'View Positions', admin_positions_path()%></li>

